* {
    box-sizing: border-box;
}

:root {
    font-family: 'Akshar', sans-serif;
    font-size: 16px;
    --shadow-color: rgba(0, 0, 0, 0.16);
    --card-shadow: var(--shadow-color) 0px 1px 4px;
    --background-color: rgb(194, 251, 255);
}

h1,
h2,
p {
    margin: 0;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

.header {
    background-color: white;
    font-size: 1.5rem;
    padding: 40px;
    text-align: center;
    box-shadow: 0px 2px 8px var(--shadow-color);
}

.main-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.add-book {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bookButton {
    font: inherit;
    font-size: 1.2rem;
    padding: 10px 30px;
    background-color: white;
    border: none;
    border-radius: 12px;
    box-shadow: var(--card-shadow);
}

#bookButton:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.display-books {
    padding: 0 50px 20px 50px;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 250px;
}

.card {
    background-color: white;
    box-shadow: var(--card-shadow);
    border-radius: 12px;
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h2 {
    font-size: 2rem;
}
.card p{
    font-size: 1.2rem;
}

.button-container {
    display: flex;
    gap: 20px;
}

.button-container button {
    border: none;
    padding: 10px 30px;
    border-radius: 12px;
    box-shadow: var(--card-shadow);
    font: inherit;
    font-size: 1.2rem;
}

.button-container button:hover {
    filter: brightness(90%);
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out;
}

.modal-content {
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    background-color: white;
    padding: 10px;
    height: 400px;
    width: 400px;
    border-radius: 12px;
    transform: scale(0);
    transition: 0.2s ease-in-out;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}

.add-book-form {
    height: 100%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-book-form button,
.add-book-form input {
    font: inherit;
    font-size: 1.2rem;
    margin: 0;
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--shadow-color);
}

.add-book-form button {
    background-color: var(--background-color);
}

.add-book-form button:hover {
    filter: brightness(90%);
}

.is-read {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}